body {
    background-color: #f5f5f5;
}

.col-content-vertical-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hide {
    display: none;
}

/* Navbar */
#navbar {
    display: none;
}

.nav_item,
.nav_product {
    transition: 0.6s;
}

.nav_item:hover {
    background-color: #f5f5f5;
}


.link_product:hover>.nav_product {
    display: block;
}

/* Navbar */

/* Most Clicked Products*/
.most-clicked-products-canvas {
    width: 100%;
}

.MostProductChart {
    display: none;
}


/* Most Clicked Products*/